/*h1{color:green;}*/
h1{color:#F0A050;}
th,td{border:dashed thick black;}
th.important{color:red;}
p.sample1{border:double １０ｐｘ#0000ff;}
p.sample2{border:inset １０ｐｘ#ff0000;}
p.sample3{margin:３０ｐｘ　３０ｐｘ;padding:１０ｐｘ;border:medium solid#ff00ff;}

